/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
a {
  text-decoration: none;
}
body {
  text-align: center;
  background-color: rgba(100, 100, 100, 0.2);
  background-position: center;
}
.board {
  height: 50%;
  width: 50%;
  display: inline-block;
  float: left;
  margin: 8%;
}
.cardright {
  height: 200px;
  width: 150px;
  background-color: rgb(246, 226, 40);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  float: left;
  display: block;
  margin: 0 10px 50px 50px;
  padding: 5px;
}
.cardleft {
  height: 200px;
  width: 150px;
  background-color: rgb(246, 226, 40);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  float: left;
  display: block;
  margin: 0 10px 50px 50px;
  padding: 5px;
}
#game {
  font-family: 'Black Ops One', cursive;
  color: rgb(2, 132, 130);
  text-align: center;
}
#subheader {
  font-family: 'Ewert', cursive;
  color: red;
}
#instructions {
  font-family: 'Black Ops One', cursive;
  color: rgb(0, 208, 208);
}
footer {
  text-align: center;
  background-color: #808080;
  clear: both;
}
.name {
  color: rgb(255, 0, 0);
}
/*#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  text-align: center;
}*/
nav {
  text-decoration: none;
  background-color: #808080;
}
nav a {
  background-color: #ffbf00;
  color: rgb(255,255,255);
  padding: 35px;
  display: block;
  float: left;
}
nav a:hover {
  background-color: #ee5f3c;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
